<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Room Reservation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<form th:method="POST" th:action="@{/roomReservations/edit-form}" style="width:800px" class="justify-content" >
    <input type="hidden" id="reservationEditId" name="reservationEditId" th:value="(${edit-villa} != null ? ${edit-villa.ic} : '')"/>
    <div class="form-group">
        <label for="roomType">Room Type</label>
        <select class="form-control" id="roomType">
            <option>Single</option>
            <option>Double</option>
        </select>
    </div>
    <div class="form-group">
        <label for="villaName">Villa Name</label>
        <select class="form-control" id="villaName">
            <option th:each="villa : ${villas}"
                    th:text="${villa.name}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number"
               class="form-control"
               id="price"
               th:value="(${edit-villa} != null ? ${edit-villa.price()} : '')">
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text"
               class="form-control"
               id="fullName">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber">
    </div>
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate">
    </div>
    <div class="form-group">
        <label for="numberOfGuests">Number of Guests</label>
        <input type="number" class="form-control" id="numberOfGuests">
    </div>
    <div class="form-group">
        <label for="adults">Adults</label>
        <input type="number" class="form-control" id="adults">
    </div>
    <div class="form-group">
        <label for="children">Children</label>
        <input type="number" class="form-control" id="children">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>