<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Reservation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<form th:action="@{/rooms/available/reserve/room}" th:method="post" style="width:600px" class="mx-auto mt-5" >
    <div class="form-group">
        <div class="col-12">
            <div class="form-group">
                <input type="date"
                       class="form-control"
                       id="start_date"
                       name="start_date"
                       th:value="(${start_date} != null ? ${start_date} : '')">
            </div>

           <div class="form-group">
                <input type="date"
                       class="form-control"
                       id="end_date"
                       name="end_date"
                       th:value="(${end_date} != null ? ${end_date} : '')">
           </div>
           <div class="row ml-0">
                <div class="form-group">
                    <input type="text"
                       class="form-control"
                       style="width: 190px"
                       id="number_guests"
                       name="number_guests"
                       placeholder="Number of guests"
                       th:value="(${number_guests} != null ? ${number_guests} : '')">
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           style="width: 190px"
                           id="adults"
                           name="adults"
                           placeholder="Adults"
                           th:value="(${adults} != null ? ${adults} : '')">
                </div>
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           style="width: 190px"
                           id="children"
                           name="children"
                           placeholder="Children"
                           th:value="(${children} != null ? ${children} : '')">
                </div>
           </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Room Type"
                       id="room_type"
                       name="room_type"
                       th:value="(${roomChosen.room_type} != null ? ${roomChosen.room_type} : '')">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Full Name"
                       id="full_name"
                       name="full_name"
                       th:value="(${session.user.full_name} != null ? ${session.user.full_name} : '')">
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="UMCN"
                       id="embg"
                       name="embg"
                       th:value="(${session.user.embg} != null ? ${session.user.embg} : '')">
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Address"
                       id="address"
                       name="address"
                       th:value="(${session.user.address} != null ? ${session.user.address} : '')">
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"

                       th:value="(${session.user.email} != null ? ${session.user.email} : '')">
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="price"
                       name="price"
                       placeholder="Price"
                       th:value="(${roomChosen.price} != null ? ${roomChosen.price} : '')">
            </div>
            <h6>Payment method</h6>
            <div class="row ml-1">
                <input type="radio" name="payment_method" th:value="'creditCard'">Credit Card</input>
                <input type="radio" name="payment_method" th:value="'onSite'" class="ml-2">On Site</input>
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       id="card_number"
                       name="card_number"
                       required
                       placeholder="Card Number"
                       th:value="(${card_number} != null ? ${card_number} : '')">
            </div>
        </div>
        <input type="hidden" name="room_id" th:value="${roomChosen.room_id}"/>
        <button type="submit" class="btn btn-secondary ml-3" style="width: 570px">Next</button>
    </div>
</form>
</body>
</html>